{{#> layout }}
    {{#*inline "title"}}
        Feattle - {{ label }}
    {{/inline}}
    {{#*inline "content"}}
        <h1 class="my-4">Current Values</h1>

        {{#if reload_failed }}
        <div class="alert alert-warning">
            <h4 class="alert-heading">Synchronization failed</h4>
            Failed to reload fresh data from the underlying persistence source.<br>
            The values shown in this page reflect the state in memory of this instance,
            that may or may not be the desired state.
        </div>
        {{/if}}

        <div class="feattles-struct">
            <span class="doc">/// <span class="doc-keyword">Last reload</span>: {{ last_reload }}</span><br>
            <span class="doc">/// <span class="doc-keyword">Version</span>: {{ version }}</span><br>
            <span class="keyword">struct</span> Feattles {<br>
            <span class="tab">
            {{#each feattles}}
                {{#if @index }}<br>{{/if}}
                {{#if this.description }}
                    <span class="doc">/// {{ this.description }}</span><br>
                    <span class="doc">///</span><br>
                {{/if}}
                <span class="doc">/// <span class="doc-keyword">Last modification</span>: {{ this.last_modification }}</span> - <a href="/feattle/{{ this.key }}" class="link">edit</a><br>
                <span class="field">{{ this.key }}</span>:
                <span class="keyword">{{ this.format }}</span> =
                {{ this.value_overview }}<span class="keyword">,</span><br>
            {{/each}}
            </span>
            }
        </div>
    {{/inline}}
{{/layout}}

